@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Tilt+Neon&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}


h1 {
    margin: 1%;
    font-size: 3em;
}


h3 {
    margin: 1% auto;
    font-size: 2em;

}


.tlt-contato {
    width: 80%;
    display: flex;
    margin: 2em 0;
    flex-direction: column;
    align-items: flex-start;
}



main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.MainContato{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.inputSec{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.inputMap{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex: wrap;
    flex-direction: column;
    width: 100%;
}

.Sobre {
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
  }

.Cardapio{
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Sobre p {
    font-weight: 200;
    font-size: 4em;
    margin-top: 3%;
    color: black;
    align-self: center;
    flex-wrap: wrap;
  }

  .duaspartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


.duaspartes-ajust {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.duaspartes-ajust-icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.duaspartes-text {
    flex: 1;
    padding: 0 2em; /* Ajuste o espaçamento conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duaspartes-text-borda {
    flex: 1;
    padding: 0 2em; /* Ajuste o espaçamento conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Valor do raio da borda, ajuste conforme necessário */
    border: 1px solid #000;
    margin: 1%;
}

.icone{
    width: 30%;
    flex-wrap: wrap;
}

.duaspartes-text p {
    font-weight: 200;
    color: black;
    text-align: justify;
}

.duaspartes img {
    max-width: 500px;
    margin: 1%;
}

.titulo{
    font-size: 3em;
    color: black;
    font-family: 'Tilt Neon', sans-serif;
}


button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
    transform: translate(50%, 50%);
    height: auto;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.articleC{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cardC {
    width: 245px;
    height: 350px;
    overflow: visible;
    cursor: pointer;
    position: relative;
    margin: 7%;
    box-sizing: border-box;
  }
  
  .cardC::before, .content {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #00000022;
    transition: transform 300ms, box-shadow 200ms;
  }
  
  .cardC::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F56C2C;
    transform: rotateZ(5deg);
  }
  
  .description {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .info {
    color: #000;
  }
  
  .price::before {
    content: 'R$';
  }
  
  .price {
    font-weight: bold;
    color: #F56C2C;
  }
  
  .description p {
    margin-bottom: 10px;
  }
  
  .cardC .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateZ(-5deg);
  }
  
  .content img {
    width: 150px;
    height: fit-content;
  }
  
  .cardC:hover::before, .cardC:hover .content {
    transform: rotateZ(0deg);
  }
  
  .cardC:active::before, .cardC:active .content {
    box-shadow: none;
  }
  

nav {
    display: flex;
    width: 95%;
    background-color: #F56C2C;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    padding: 0.5em 0;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 1px 4px 16px 4px rgba(194, 194, 194, 0.63);

    -webkit-box-shadow: 1px 4px 16px 4px rgba(194, 194, 194, 0.63);

    -moz-box-shadow: 1px 4px 16px 4px rgba(194, 194, 194, 0.63);
}

.hamburger {
    display: none;
}



.titulo {

    font-size: 3em;
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 100;
    user-select: none;
    text-decoration: none;
    color: black;
    margin-left: 2%;
}

nav ul {
    width: auto;
    height: 55px;
    display: flex;
    list-style: none;
    justify-self: right;
    margin: auto 0;
    align-items: center;
}

nav li {
    margin-right: 1em;
    font-size: 20px;
    font-weight: 500;
}

.feed {
    width: 29%;
    display: flex;
    flex-direction: column;
}

.post {
    width: 60%;
    display: flex;
    flex-direction: column;
}

li a {
    user-select: none;
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3S;
    color: #ffffff;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
}


.banner img {
    width: 90%;
}

p {
    font-family: var(--font-text);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.card {
    display: grid;
    color: #ffffff;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    margin: 3% 4%;
}

.card>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 34%;
    padding: 12% 1.25rem 5.875rem;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100%);
}

.card__content--container {
    --flow-space: 0.25rem;
}

.card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;

}

.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
}

.card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    font-size: 1.125rem;

}

.card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
}


.card-post {
    position: relative;
    background-color: #ffffff;
    padding: 1em;
    z-index: 5;
    border-radius: 10px;
    max-width: 50em;
    transition: 200ms ease-in-out;
    margin-bottom: 1em;
    border: 1px solid #4a5568;
}

.username {
    color: #f56c2c;
    font-size: 0.85em;
    font-weight: 600;
}

.body {
    display: flex;
    flex-direction: column;
}

.body .text {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #000000;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px;
}

.footer {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-top: 10px;
}

.footer div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
}

.viewer span {
    height: 20px;
    width: 20px;
    background-color: rgb(245 108 44);
    margin-right: -6px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    color: #fff;
    padding: 2px;
}

.viewer span svg {
    stroke: #fff;
}

.feedback-form {
    background-color: #ffffff;
    border: 1px solid #4a5568;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    width: 97.5%;
}

.title {
    text-align: center;
    color: #718096;
    font-size: 1.25rem;
    font-weight: bold;
    grid-column: span 6;
    color: #000000;
}

.feedback-input {
    background-color: #ededed;
    color: #000000;
    height: 7rem;
    border: 1px solid #4a5568;
    grid-column: span 6;
    resize: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition-duration: 0.3s;
    outline: none;
}

.btn {
    fill: #d2d6dc;
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition-duration: 0.3s;
    background-color: #ffffff;
    border: 1px solid #f56c2c;
}

.btn:hover {
    border-color: #d2d6dc;
}

.btn:focus {
    fill: #90cdf4;
    background-color: #4299e1;
}

.spacer {
    grid-column: span 2;
}

.send {
    stroke: #d2d6dc;
    background-color: #f56c2c;
    border: 1px solid #f56c2c;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition-duration: 0.3s;
}

.send:hover {
    border-color: #d2d6dc;
}

.send:focus {
    stroke: #90cdf4;
    background-color: #4299e1;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 85%;
    position: relative;
}
  
  .inputGroup input,
  .inputGroup textarea {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  /* Restante do seu código CSS permanece inalterado */
  
  
  .inputGroup :is(input:focus, input:valid),
  .inputGroup :is(textarea:focus, textarea:valid) {
    border-color: #F56C2C;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label,
  .inputGroup :is(textarea:focus, textarea:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
  }



  .Enviar {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    width: 88%;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .Enviar:disabled {
    pointer-events: none;
   }
   
   .Enviar:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .Enviar:active {
    box-shadow: none;
    transform: translateY(0);
   }
@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
        transform: translateY(62%);
        transition: transform 500ms ease-out;
        transition-delay: 500ms;
    }

    .card__title::after {
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 1000ms ease-in, transform 500ms ease-out;
        transition-delay: 500ms;
        transform-origin: right;
    }

    .card__background {
        transition: transform 500ms ease-in;
    }

    .card__content--container> :not(.card__title),
    .card__button {
        opacity: 0;
        transition: transform 500ms ease-out, opacity 500ms ease-out;
    }

    .card:hover,
    .card:focus-within {
        transform: scale(1.05);
        transition: transform 500ms ease-in;
    }

    .card:hover .card__content,
    .card:focus-within .card__content {
        transform: translateY(0);
        transition: transform 500ms ease-in;
    }

    .card:focus-within .card__content {
        transition-duration: 0ms;
    }

    .card:hover .card__background,
    .card:focus-within .card__background {
        transform: scale(1.3);
    }

    .card:hover .card__content--container> :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container> :not(.card__title),
    .card:focus-within .card__button {
        opacity: 1;
        transition: opacity 500ms ease-in;
        transition-delay: 1000ms;
    }

    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: opacity 500ms ease-in, transform 500ms ease-in;
        transition-delay: 500ms;
    }
}


.grid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
}

.grid-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* 



.grid img {
    width: 19%;
    margin: 0 3em;
    -webkit-filter: drop-shadow(10px 25px 10px rgba(171, 171, 171, 0.21));
    filter: drop-shadow(0px 0px 10px rgba(73, 73, 73, 0.788));
}

.grid img:hover {
    transition: 0.4s;
    transform: scale(1.1);
} */

.list-content {
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 10em 0;
    height: auto;
    width: 100%;
    background-image: url(img/background-gray.png);
    background-position-x: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: left top;
}

.list-content img {
    width: auto;
    position: relative;
    left: 4em;
    max-width: 40%;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    max-width: 50%;
    position: relative;
    left: 5em;
    bottom: 5em;
}

.list div {
    width: 100%;
    height: 20%;
    display: flex;
    margin: 4% 1%;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.list h4 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.21em;
    color: #F56C2C;
    margin-right: 3%;
}

.list p {

    font-weight: 700;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
    background-color: #F56C2C;
}

footer section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2% 7%;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    transition: 0.6s;
    color: #ffffff;
}

footer h4 {
    color: #ffffff;

}

.icon {
    width: 30px;
    margin-right: 5px;
}

footer span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

@media all and (max-width: 775px) {
    .tlt-contato {
        width: 100%;
        display: flex;
        margin: 2em 0;
        flex-direction: column;
        align-items: center;
    }

    .Enviar {
        width: 100%;
    }
    .inputGroup {
        font-family: 'Segoe UI', sans-serif;
        margin: 1em 0 1em 0;
        max-width: 95%;
        position: relative;
    }
    .inputSec {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: initial;
        align-items: initial;
        margin-bottom: 2em;
    }
    .inputMap{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    nav {
        display: flex;
        width: 96%;
        background-color: #F56C2C;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        background: transparent;
        border: 0;
    }

    .hamburger svg {
        font-size: larger;
    }
}

@media all and (max-width: 725px) {


    nav h1 {
        position: sticky;
        right: 0%;
    }

    nav ul {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        margin: auto;
        font-size: 15px;
        margin: 0 10px;
    }

    /*  .grid img {
        width: auto;
        margin: 2em 3em;
        -webkit-filter: drop-shadow(10px 25px 10px rgba(171, 171, 171, 0.21));
        filter: drop-shadow(0px 0px 10px rgba(73, 73, 73, 0.788));
    } */

    .list-content {
        margin: 0;
        display: flex;
    }

    .list-content img {
        width: auto;
        max-width: 35%;
        position: relative;
        left: 1em;
    }

    .list {
        display: flex;
        justify-items: stretch;
        width: auto;
        max-width: 55%;
        max-height: 100%;
        position: relative;
        bottom: 3%;
        left: 4%;
        margin: 11% 0;
    }

    .list h4 {
        font-size: 2.5em;
    }

    .list p {
        font-size: .9em;
    }

    footer {
        flex-direction: column;
        align-content: start;
        justify-content: start;
    }

    footer section {
        footer section {
            margin: 3% 0 2% 10%;
            justify-content: start;
            justify-items: stretch;
        }
    }

    footer ul {
        width: 10em;
    }

    .feedback-form {
        width: 96%;
    }

}

@media all and (max-width: 873px) {
    .duaspartes-text,
    .duaspartes-text-borda,
    .duaspartes-ajust img{
        flex: 2;  /*Ajuste o valor conforme necessário */
        margin: 1% 5px; /* Ajuste o valor conforme necessário*/
        max-width: 50%;  /*Defina uma largura máxima para evitar quebrar para uma nova linha*/
        
    }

    .articleC{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

}


@media all and (max-width: 800px) {
    .duaspartes-text,
    .duaspartes-text-borda,
    .duaspartes-ajust img{
        flex: 2;  /*Ajuste o valor conforme necessário */
        margin: 1% 5px; /* Ajuste o valor conforme necessário*/
        max-width: 50%;  /*Defina uma largura máxima para evitar quebrar para uma nova linha*/
        
    }
    .duaspartes-ajust-icones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1% 0;
        flex-direction: column;
    }
    .duaspartes-ajust{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 1% 0;
        flex-direction: row;  
    }
}


@media all and (max-width: 455px) {
    .viewer span {
        display: none;
    }

    .feed {
        width: 96%;
        display: flex;
        flex-direction: column;
        margin: 0 0 1em 0;
    }

    .post {
        width: 94%;
        display: flex;
        flex-direction: column;
    }
    .duaspartes-ajust-icones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1% 0;
        flex-direction: column;
    }

    .duaspartes-ajust{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 1% 0;
        flex-direction: column-reverse;
        
    }

    .articleC {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .cardC{
        margin-top: 20%;
        margin-bottom: 20%;
    }
    
}



